////
/// Pullquote block.
///
/// @group  Blocks
/// @author CXL <leho@conversionxl.com>
/// @link   https://conversionxl.com
////

.wp-block-pullquote {
	padding:    3em 0;
	text-align: center;

	cite,
	footer {
		position: relative;
	}
}
